.about-page,
.about-page * {
  box-sizing: border-box;
}
.about-page {
  background: #f0b2b2;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.bmgt-407 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 80px;
  top: 60px;
}
.menu-items {
  display: flex;
  flex-direction: row;
  gap: 72px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 791px;
  top: 51px;
}
.homepage {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
}
.about {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
}
.contact {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
}
.body {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1244px;
  position: absolute;
  left: 80px;
  top: 221px;
}
.body2 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-1 {
  display: flex;
  flex-direction: column;
  gap: 26px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.body3 {
  display: flex;
  flex-direction: column;
  gap: 42px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.bmgt-407-information-systems-projects {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.bmgt-407-is-the-capstone-course-for-information-systems-is-majors-the-class-happens-on-thursdays {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  height: 82px;
}
.professor-paul-t-shapiro {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.teaching-assistants-bharath-sreekumar-caifu-lin-sumanth-devara {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.semester-details-spring-2026 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
