.contact-page,
.contact-page * {
  box-sizing: border-box;
}
.contact-page {
  background: #f0b2b2;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.bmgt-407 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 80px;
  top: 60px;
}
.menu-items {
  display: flex;
  flex-direction: row;
  gap: 72px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 791px;
  top: 51px;
}
.homepage {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
}
.about {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
}
.contact {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
}
.body {
  display: flex;
  flex-direction: column;
  gap: 33px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1204px;
  position: absolute;
  left: 80px;
  top: 236px;
}
.body2 {
  display: flex;
  flex-direction: column;
  gap: 42px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.contact-us {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.reach-out-to-the-course-team-for-support-or-inquiries {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  height: 82px;
}
.paul-t-shapiro-pshapiro-umd-edu {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.ta-contact {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.bharath-sreekumar-bsreekum-umd-edu {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  height: 40px;
}
.caifu-lin-clin-0817-terpmail-umd-edu {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.sumanth-devara-sdevara-umd-edu {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
